


    <div class="row">
        <div class="offset-2 col-4">
        <h4>{{this.customers}}</h4>
    </div>
    </div>
    <div class="row">
        <table class="table">
                <tr>
                        <td>
                        <div class="row">
                            <div class="offset-2 col-4">
                                <span>{{this.order.product1}}</span>
                            </div>
                            <div class="col-4">
                                <span>{{this.order.product1prix}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-4">
                                <span>{{this.order.product2}}</span>
                            </div>
                            <div class="col-4">
                                <span>{{this.order.product2prix}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-4">
                                <span>{{this.order.product3}}</span>
                            </div>
                            <div class="col-4">
                                <span>{{this.order.product3prix}}</span>
                            </div>
                        </div>
                        </td>
                </tr>

        </table>
    </div>

    


