<h1>Login</h1>
<form [formGroup]='login'>
    <div>
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" formControlName='email' [class.error]='login.controls.email.invalid'>
        <div>
            <span class="alert alert-danger" role="alert" *ngIf='login.controls.email.invalid'>A valid email address is
                required</span>
        </div>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" formControlName='password' [class.error]='login.controls.password.invalid'>
        <div>
            <span class="alert alert-danger" role="alert" *ngIf='login.controls.password.invalid'>A valid password is
                required (6 or more character with at least one number)</span>
        </div>

    </div>
    <div>
        <button type="submit" [disabled]="!login.valid">Login</button>
    </div>


</form>

<!-- <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->