<div class="container mt-3">
  <h2>
    <fa-icon [icon]="faUser"></fa-icon>Customers
  </h2>
  <app-customer-menu (t)="changeView($event)"></app-customer-menu>
  
  <ng-container [ngSwitch]="t">
    <div *ngSwitchCase="'list'">
      <app-customer [customers]="customers"></app-customer>
    </div>
    <div *ngSwitchCase="'map'">
      <app-customer-map></app-customer-map>
    </div>
    <div *ngSwitchCase="'card'">
      <div class="row">
        <app-customer-card-view *ngFor="let c of customers" [customer]="c"></app-customer-card-view>
      </div>
    </div>
  </ng-container>
  <div class="row">
  </div>
</div>