<section id="list view" class="container">
    <!-- sous header bleu avec le titre des colonnes
         <div class="row" id="header">
        <div id="headerImage" class="col">

        </div>
        <div class="col">
            <span>First Name</span>
        </div>
        <div class="col">
            <span>Last Name</span>
        </div>
        <div class="col">
            <span>Address</span>
        </div>
        <div class="col">
            <span>City</span>
        </div>
        <div class="col">
            <span>State</span>
        </div>
        <div class="col">
            <span>Total Order</span>
        </div>

    </div> -->

    <div class="row">
        <div id="image" class="col">

        </div>
        <div class="col">
            {{customer.firstName}}
        </div>
        <div class="col">
            {{customer.lastName}}
        </div>
        <div class="col">
            {{customer.address}}
        </div>
        <div class="col">
            {{customer.city}}
        </div>
        <div class="col">
            {{customer.state}}
        </div>
        <div class="col">
            <span>Total Order</span>
        </div>
        <div class="col">
            <button>View Orders</button>
        </div>
    </div>
    <hr>

</section>